
<footer id="footer" class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-wrapper">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="menu-item">
                <h5>LIÊN HỆ VỚI CHÚNG TÔI</h5>
                <ul>
                  <li>Thứ 2 - Chủ nhật: 9am - 6pm(Hotline), 7am-10pm (Online chat)</li>
                  <li>Trung Tâm Hỗ Trợ</li>
                  <li>Hướng Dẫn Đặt Hàng</li>
                  <li>Giao Hàng & Nhận Hàng</li>
                </ul>
              </div>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="menu-item">
                <h5>CHỢ TỐT VĂN LANG</h5>
                <ul>
                  <li>Về Chúng Tôi</li>
                  <li>Tuyển Dụng</li>
                  <li>Điều Khoản Mua Bán</li>
                  <li>Chính Sách Bảo Mật</li>
                </ul>
              </div>
            </div>
  
  
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="menu-item">
                <h5>ĐĂNG KÍ NHẬN TIN CHỢ TỐT VĂN LANG</h5>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter your email address">
                  <input type="submit" class="form-control" value="Đăng Kí">
                </div>
              </div>
            </div>
  
  
          </div>
        </div>
      </div>
  </footer>
  
  
  <div class="scrollup">
    <a href="#">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
  
  
  
  <script src="../frontend/javascrips/vendor/jquery-1.11.2.min.js"></script>
  <script src="../frontend/javascrips/vendor/bootstrap.min.js"></script>
  <script src="../frontend/javascrips/plugins.js"></script>
  <script src="../frontend/javascrips/modernizr.js"></script>
  <script src="../frontend/javascrips/main.js"></script>
  <script language="javascript" src="../frontend/javascrips/custom.js"></script>