<html class="no-js" lang="">
<!--<![endif]-->


  <%- include ./partials/header%>


<body>
  <div class="contact col-md-12">
  </div>
  <br>
  <div class="content-section-a">
    <div class="container">
      <div class="col-md-12">
        <div class="panel-custom">
          <div class="panel-body-custom">
            <h1 style="text-align: center">Chào mừng bạn đến với website Chợ Tốt Văn Lang</h1>
            <p style="text-align: justify">Chợ tốt Văn Lang được biết đến như một nơi mua bán chuyên nghiệp hoạt động trong lĩnh vực trao đổi và mua bán
              giữa các khách hàng trong nội bộ Văn Lang Chợ tốt Văn Lang là một lựa chọn đáng tin cậy. Chợ tốt Văn Lang được
              phát triển dựa trên các mối quan hệ chặt chẽ giữa các khách hàng trong nội bộ Văn Lang Chợ tốt Văn Lang tin
              răng có thể góp phần nào đó để giúp cho việc mua bán và trao đổi giữa các khách hàng một cách thuận tiện nhanh
              chóng và dễ dàng hơn một cách lâu dài và bền vững Nâng cao chất lượng cuộc sống</p>
            <p style="text-align: center">
              <img src="../frontend/images/9.jpg" alt="">
            </p>
            <hr>
            <div class="row">
                <% about.forEach(function(item){%>
              <div class="col-md-4 col-sm-12">
                <h3 style="text-align: center"><%= item.Title%></h3>
                <p style="text-align: justify"><%= item.Content%></p>
              </div>
              <%})%>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>


  <%- include ./partials/footer%>


</html>