
<div class="login-page">
    <div class="form">
      <form class="login-form" action="/login-admin" method="POST">
        <input type="text" name="name" placeholder="name"/>
        <input type="password" name="password" placeholder="password"/>
        <button type="submit">login</button>
      </form>
    </div>
</div>

