<%- include ./partials/header %>

<br>
<div class="container">
  <div class="jumbotron">
    <h1>Xin chào, <%= user.Username %></h1>
    <p>Tài khoản <strong><%= user.Email %></strong> của bạn chưa được kích hoạt. Xin vui lòng chờ đợi trong 24h. Xin cảm ơn!
    </p>
  </div>
</div>
<hr>
<%- include ./partials/footer %>