<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->


    <%- include ./partials/header %>


<body>
    <div class="contact col-md-12">
        <h2 class="container">Đăng tin</h2>
    </div>
    <br>
    <div class="container">
        <br>
        <br>

        <div class="container-content">
            <div class="row">
                <form action="/post-product" method="POST">
                    <div class="caption">Tiêu đề tin</div>
                    <small>Tiêu đề ngắn gọn mang đầy đủ thông tin làm tỉ lệ mua hàng cao hơn,Có ít nhất 20 ký tự</small>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Tiêu đề</span>
                        <input type="text" id="title" name="title" class="form-control" placeholder="Nội dung" aria-describedby="basic-addon1">
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="caption">
                                Danh mục sản phẩm
                            </div>
                            <select class="form-control" id="Product_Type" name="Product_Type">
                                <optgroup label="Danh mục">
                                    <% for(let i in loai) {%>
                                    <option value="<%= loai[i].ID %>"><%= loai[i].TypeName %></option>
                                    <%}%>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="caption">
                                Avatar
                            </div>
                            <div class="content-waring">
                                <li>Hình ảnh đẹp sẽ giúp tin đăng của bạn thu hút người mua</li>
                            </div>
                            <input class="form-control" type="file" name="fileavatar">
                        </div>
                    </div>
                    <hr>
                    <div class="caption">
                        Giá tiền
                    </div>
                    <small>Chỉ nhập số không khoảng trắng</small>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Giá</span>
                        <input type="text" id="price" name="price" class="form-control" placeholder="Bỏ trống nếu muốn người mua liên hệ riêng để biết giá"
                            aria-describedby="basic-addon1">
                    </div>
                    <hr>
                    <div class="caption">
                        Tải ảnh lên
                    </div>
                    <div class="waring-image">
                        <div class="caption-waring">
                            Đối với tin rao bán
                        </div>
                        <div class="content-waring">
                            <li>Hình ảnh đẹp sẽ giúp tin đăng của bạn thu hút người mua</li>
                            <li>Không sử dụng ảnh có (hoặc in chìm) số điện thoại, địa chỉ website hay các thông tin liên hệ
                                khác
                            </li>
                            <li>Không sử dụng ảnh tải về trên mạng</li>
                            <li>Tin đăng của bạn có thể bị từ chối nếu không đáp ứng đủ các tiêu chuẩn về hình ảnh</li>
                        </div>
                        <!-- upload Image -->
                        
                        <input class="form-control" type="file" name="fileimage">
                        
                        <!-- /input-group image-preview [TO HERE]-->
                        
                        <hr>
                        <div class="caption">Nội dung tin</div>
                        <div class="content-waring">
                            Đối với tin rao bán, vui lòng không nhập thông tin liên hệ vào nội dung tin, nội dung mô tả chi tiết tin đăng của bạn. Sẽ
                            giúp bạn tiếp cận nhanh hơn khách hàng tiềm năng
                        </div>
                        <div class="text-area">
                            <textarea id="description" name="description" rows="12"></textarea>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <input type="checkbox" aria-label="...">
                                    <p>Tôi đồng ý với
                                        <a href="#">[Điều khoản sử dụng của website]</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">

                                <button type="button" class="btn btn-default">Nhập lại</button>
                                <button type="submit" class="btn btn-default">Xác nhận</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>

</body>

    <%- include ./partials/footer %>


</html>