<html class="no-js" lang="">
<!--<![endif]-->


<%- include ./partials/header%>

	<link rel="stylesheet" href="../frontend/stylesheets/style1.css">

	<body>
		<div class="contact col-md-12">
		</div>
		<br>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
					<h2>Đăng ký tài khoản</h2>
					<% if(hasError) { %>
						<% messages.forEach(function(errr) { %>
							<div class="alert alert-danger">
								<strong>Err!</strong>
								<%= errr %>.
							</div>
							<% }); %>
								<% } %>

									<form class="" method="post" action="register">

										<div class="form-group">
											<label for="name" class="cols-sm-2 control-label">Họ và tên</label>
											<div class="cols-sm-10">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-user fa" aria-hidden="true"></i>
													</span>
													<input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="email" class="cols-sm-2 control-label">Email</label>
											<div class="cols-sm-10">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-envelope fa" aria-hidden="true"></i>
													</span>
													<input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="username" class="cols-sm-2 control-label">Tên sử dụng</label>
											<div class="cols-sm-10">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-users fa" aria-hidden="true"></i>
													</span>
													<input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="password" class="cols-sm-2 control-label">Password</label>
											<div class="cols-sm-10">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-lock fa-lg" aria-hidden="true"></i>
													</span>
													<input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="confirm" class="cols-sm-2 control-label">Nhập lại Password</label>
											<div class="cols-sm-10">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="fa fa-lock fa-lg" aria-hidden="true"></i>
													</span>
													<input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="confirm" class="cols-sm-2 control-label">Địa chỉ</label>
											<div class="cols-sm-10">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-home" aria-hidden="true"></i>
													</span>
													<input type="text" class="form-control" name="address" id="address" placeholder="Enter your Address" />
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="confirm" class="cols-sm-2 control-label">Số điện thoại</label>
											<div class="cols-sm-10">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
													</span>
													<input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your Phone" />
												</div>
											</div>
										</div>
										<a href="/login">Quay lại đăng nhập</a>
										<div class="form-group ">
											<input class="btn btn-primary btn-lg btn-block login-button" type="submit" value="Tạo tài khoản">
										</div>

									</form>
				</div>
			</div>
		</div>

		<script src="../frontend/stylesheets/bootstrap.min.css"></script>
	</body>
	<%- include ./partials/footer%>


</html>